<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>urljsf - pull requests from schema</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="col-lg-8 mx-auto p-3 py-md-5">
      <header>
        <h1><code>urljsf</code> examples</h1>
      </header>
      <main class="bs-main">
        <div class="bs-content">
          <div class="bs-article-container">
            <% _.forEach(['json', 'toml', 'yaml'], function(format) { %>
            <section>
              <h2 id="example-<%= format %>"><%= format.toUpperCase() %></h2>
              <div
                data-urljsf-git-hub-repo="deathbeds/urljsf"
                data-urljsf-git-hub-branch="not-a-branch"
                data-urljsf-file-name="new_file.<%= format %>"
                data-urljsf-schema="./example.schema.<%= format %>"
                data-urljsf-ui-schema="./example.uischema.<%= format %>"
                data-urljsf-data="./example.data.<%= format %>"
                <% if(format !== 'json'){ %>
                data-urljsf-ui-schema-format="<%= format %>"
                data-urljsf-schema-format="<%= format %>"
                data-urljsf-data-format="<%= format %>"
                <% } %>
              ></div>
            </section>
            <% }) %>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
