<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>urljsf - HTML forms from schema</title>
  </head>
  <body>
    <div class="col-lg-8 mx-auto p-3 py-md-5">
      <header>
        <h1><code>urljsf</code> examples</h1>
      </header>
      <nav>
        <ul>
          <li><a href="#example-xkcd">xkcd</a></li>
          <% _.forEach(formats, function(fmt) { %>
          <li>
            <a href="#example-<%= fmt %>"><%= fmt.toUpperCase() %></a>
          </li>
          <% }) %>
        </ul>
      </nav>
      <main class="bs-main">
        <div class="bs-content">
          <div class="bs-article-container">
            <section>
              <h2 id="example-xkcd">
                <a href="#example-xkcd">#</a>
                XKCD
              </h2>
              <script type="application/vnd.deathbeds.urljsf.v0+toml">
                [forms.url.schema]
                title = "pick an xkcd"
                description = "this will redirect to `xkcd.com`"
                type = "object"
                required = ["xkcd"]
                properties.xkcd = {type="integer", minimum=1, maximum=2997}

                [forms.url.ui_schema.xkcd."ui:options"]
                widget = "range"

                [templates]
                url = "https://xkcd.com/{{ data.url.xkcd }}"
                submit_button = "see xkcd #{{ data.url.xkcd }}"
              </script>
            </section>
            <% _.forEach(formats, function(fmt) { %>
            <section>
              <h2 id="example-<%= fmt %>">
                <a href="#example-<%= fmt %>">#</a>
                <%= fmt.toUpperCase() %>
              </h2>
              <script
                type="application/vnd.deathbeds.urljsf.v0+<%= fmt %>"
                src="./<%= fmt %>/urljsf.<%= fmt %>"
              ></script>
            </section>
            <% }) %>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
