<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>urljsf - HTML forms from schema</title>
    <link rel="stylesheet" href="../bootstrap.min.css" />
  </head>
  <body>
    <div class="col-lg-8 mx-auto p-3 py-md-5">
      <header>
        <h1><code>urljsf</code> examples</h1>
      </header>
      <nav>
        <ul>
        <% _.forEach(formats, function(fmt) { %>
          <li>
            <a href="#example-<%= fmt %>"><%= fmt.toUpperCase() %></a>
          </li>
        <% }) %>
        </ul>
      </nav>
      <main class="bs-main">
        <div class="bs-content">
          <div class="bs-article-container">
            <% _.forEach(formats, function(fmt) { %>
            <section>
              <h2 id="example-<%= fmt %>">
                <a href="#example-<%= fmt %>">#</a>
                <%= fmt.toUpperCase() %>
              </h2>
              <script
                type="application/vnd.deathbeds.prjsf.v0+<%= fmt %>"
                src="./<%= fmt %>/urljsf.<%= fmt %>">
              </script>
            </section>
            <% }) %>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
