{%- import "prjsf/_form.j2" as form with context -%}
<!doctype html>
<html>
  {% set static = url_base ~ "_static/prjsf" %}
  {% set theme_url = "bootstrap.min.css" %}

  {% if theme is defined and theme != "bootstrap" %}
    {% set theme_url = "themes/" ~ theme ~ ".min.css" %}
  {% endif %}

  {% block html_head %}
  <head>
    <meta charset="utf-8" />
    {% block html_title %}
    {% if html_title %}
    <title>{{ html_title }}</title>
    {% endif %}
    {% endblock %}
    {% block html_style %}
    <link
      rel="stylesheet"
      href="{{ static }}/{{ theme_url }}"
    />
    {% endblock %}
    {% block extra_head %}{% endblock %}
  </head>
  {% endblock %}
  <body>
    <div class="col-lg-8 mx-auto p-3 py-md-5">
      {% block before_main %}{% endblock %}
      <main class="bs-main">
        <div class="bs-content">
          <div class="bs-article-container">
            <section>
              {{ form.prjsf() }}
            </section>
          </div>
        </div>
      </main>
      {% block after_main %}{% endblock %}
    </div>
    {% block body_script %}
    <script type="module" src="{{ static }}/prjsf.js"></script>
    {% endblock %}
  </body>
</html>
